
---
layout: ""
page_title: "Provider: UTILS"
description: |-
  The UTILS provider contains data sources acting as helper functions to perform various tasks.
---

# UTILS Provider

The UTILS provider contains data sources acting as helper functions to perform various tasks.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}